body{
    font-family:helvetica,sans-serif;
}

#title{
    color:lightcoral;
    text-align: center;
    font-size: 300%;
}

#nav{
    text-align: center;
}

div{
    margin:50px 100px 50px 100px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    padding:2px 4px 2px 4px;
    background-color:lightgreen;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

h2{
    text-align:center;
}

#content{
    background-color:rgb(254, 202, 14);
}

img{
    width:350px;
    border-style:dashed;
    padding:3px;
    background-color:black;
    border-color:green;
    margin:auto;
}


#footer{
    text-align:center;
    padding:3px;
    background-color:darkslategrey;
}